$blue19: #e2edff;
$blue18: #c6dbff;
$blue17: #aac9ff;
$blue16: #8fb6ff;
$blue15: #74a3ff;
$blue14: #598eff;
$blue13: #3e78ff;
$blue12: #2260ff;
$blue11: #0541ff;
$blue10: #0000ff;
$blue09: #0000de;
$blue08: #0000be;
$blue07: #00009e;
$blue06: #000080;
$blue05: #000063;
$blue04: #000048;
$blue03: #00002e;
$blue02: #000016;
$blue01: #000003;

$blue: $blue10;
