$brown19: #f7eae6;
$brown18: #eed6ce;
$brown17: #e5c2b5;
$brown16: #dbae9e;
$brown15: #d19a86;
$brown14: #c7866f;
$brown13: #bc7257;
$brown12: #b15e40;
$brown11: #a54926;
$brown10: #993300;
$brown09: #842b00;
$brown08: #702300;
$brown07: #5d1c00;
$brown06: #4a1400;
$brown05: #380d00;
$brown04: #270700;
$brown03: #170300;
$brown02: #080100;
$brown01: #010000;

$brown: $brown10;
