$green19: #f0ffee;
$green18: #e0ffdd;
$green17: #d0ffcb;
$green16: #bfffb9;
$green15: #adffa6;
$green14: #9aff92;
$green13: #85ff7d;
$green12: #6cff64;
$green11: #4cff45;
$green10: #00ff00;
$green09: #00de00;
$green08: #00be00;
$green07: #009e00;
$green06: #008000;
$green05: #006300;
$green04: #004800;
$green03: #002e00;
$green02: #001600;
$green01: #000300;

$green: $green10;
