$orange19: #fff7ec;
$orange18: #ffeed9;
$orange17: #ffe5c6;
$orange16: #ffddb2;
$orange15: #ffd49f;
$orange14: #ffcb8a;
$orange13: #ffc274;
$orange12: #ffb85c;
$orange11: #ffaf3e;
$orange10: #ffa500;
$orange09: #de8f00;
$orange08: #be7900;
$orange07: #9e6500;
$orange06: #805100;
$orange05: #633d00;
$orange04: #482b00;
$orange03: #2e1a00;
$orange02: #160a00;
$orange01: #030100;

$orange: $orange10;
