$pink19: #fff9fa;
$pink18: #fff2f4;
$pink17: #ffecef;
$pink16: #ffe6ea;
$pink15: #ffe0e5;
$pink14: #ffd9e0;
$pink13: #ffd3da;
$pink12: #ffcdd5;
$pink11: #ffc6d0;
$pink10: #ffc0cb;
$pink09: #dea7b0;
$pink08: #be8e96;
$pink07: #9e767d;
$pink06: #805f65;
$pink05: #63494d;
$pink04: #483437;
$pink03: #2e2022;
$pink02: #160e0f;
$pink01: #030202;

$pink: $pink10;
