$red19: #ffede9;
$red18: #ffdad3;
$red17: #ffc8bd;
$red16: #ffb5a7;
$red15: #ffa191;
$red14: #ff8d7b;
$red13: #ff7765;
$red12: #ff5e4d;
$red11: #ff4031;
$red10: #ff0000;
$red09: #de0000;
$red08: #be0000;
$red07: #9e0000;
$red06: #800000;
$red05: #630000;
$red04: #480000;
$red03: #2e0000;
$red02: #160000;
$red01: #030000;

$red: $red10;
