$turquoise19: #f0fcfa;
$turquoise18: #e1f9f5;
$turquoise17: #d1f7f1;
$turquoise16: #c1f4ec;
$turquoise15: #b1f0e7;
$turquoise14: #9fede3;
$turquoise13: #8ceade;
$turquoise12: #78e7d9;
$turquoise11: #60e3d5;
$turquoise10: #40e0d0;
$turquoise09: #36c3b5;
$turquoise08: #2da69a;
$turquoise07: #248a80;
$turquoise06: #1b7067;
$turquoise05: #13564f;
$turquoise04: #0b3e39;
$turquoise03: #052723;
$turquoise02: #011210;
$turquoise01: #000202;

$turquoise: $turquoise10;
