$violet19: #f0ecff;
$violet18: #e1d9ff;
$violet17: #d3c6ff;
$violet16: #c5b3ff;
$violet15: #b89fff;
$violet14: #ac8aff;
$violet13: #a074ff;
$violet12: #945cff;
$violet11: #8a3fff;
$violet10: #8000ff;
$violet09: #6e00de;
$violet08: #5d00be;
$violet07: #4d009e;
$violet06: #3d0080;
$violet05: #2e0063;
$violet04: #1f0048;
$violet03: #12002e;
$violet02: #060016;
$violet01: #010003;

$violet: $violet10;
