$yellow19: #fffff0;
$yellow18: #feffe0;
$yellow17: #feffcf;
$yellow16: #feffbe;
$yellow15: #feffac;
$yellow14: #feff99;
$yellow13: #feff83;
$yellow12: #feff6b;
$yellow11: #ffff4b;
$yellow10: #ffff00;
$yellow09: #dede00;
$yellow08: #bebe00;
$yellow07: #9e9e00;
$yellow06: #808000;
$yellow05: #636300;
$yellow04: #484800;
$yellow03: #2e2e00;
$yellow02: #161600;
$yellow01: #030300;

$yellow: $yellow10;
