<article>
    <form [formGroup]="form">
        <h2>Login</h2>
        <dma-input inputType="text" label="Username" forLabel="username-input" formControlName="username">
            <dma-icon icon="user" class="leading-icon" />
        </dma-input>
        <dma-input inputType="password" label="Password" forLabel="password-input" formControlName="password">
            <dma-icon icon="lock" class="leading-icon" />
        </dma-input>
        @if (message$ | async; as message) {
            <p class="message" [ngClass]="message.type">{{ message.message }}</p>
        }
        <button dma-button="filled" [disabled]="isFormInvalid" (click)="onSubmit()">Login</button>
    </form>
</article>
