@use 'assets/styles/theme-variables' as *;

:host {
    margin-right: 2em;
    padding: 0.7em 0;

    a {
        color: $on-surface;
        text-decoration: none;
        font-weight: $fw-bolder;
        font-size: 1.5em;

        &:hover {
            text-decoration: underline;
        }
    }
}
