@use '../../../../../public/styles/theme-variables' as *;

:host {
    background-color: $surface;
    color: $on-surface;
    padding: 1rem;

    h1 {
        font-size: 1.4rem;
    }

    hr {
        margin: 0.5rem 0;
    }

    button[dma-button].active {
        font-weight: $fw-bold;
    }
}
