# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp

# Dependencies
node_modules

# IDEs and editors
.idea/*
!.idea/runConfigurations
!.idea/jsLinters
!.idea/dnd-mapp.iml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/prettier.xml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
.angular/
.nx/
.vite/
/reports

# System Files
.DS_Store
Thumbs.db

# Configurations, environments and certificates
.env*
certificate*.pem
