## Ignore everything but a few: https://stackoverflow.com/a/987162/2725711
# Ignore all
*

# Except for directories and except for specific file types
!*/
!*.html
!*.svg
!*.css
!*.scss
!*.js
!*.ts
!*.mts
!*.json
!*.yaml
!*.yml
!*.md

package-lock.json
**/mockServiceWorker.js

## IDE directories
.idea/
.vscode/

## Imported source
node_modules/

## Output directories
.Ds_Store
tmp/
.angular/
.nx/
.vite/
dist/
reports/

## Specific files and directories