$background: var(--background, #1b1b1b);
$on-background: var(--on-background, #fafafa);

$surface: var(--surface, #272727);
$on-surface: var(--on-surface, #fafafa);

$surface-hover: var(--surface-hover, #323232);
$surface-active: var(--surface-active, #222222);

$icon-size: var(--icon-size, 1rem);
