@use './colors' as *;
@use './functions' as *;

$fw-regular: var(--fw-regular, 400);
$fw-bold: var(--fw-bold, 600);

$icon-size: var(--icon-size, 1rem);
$border-radius: var(--border-radius, 0.4rem);
$opacity-disabled: var(--opacity-disabled, 0.333);

$background: var(--background, $gray04);
$on-background: var(--on-background, $gray19);

$inverse-background: var(--inverse-background, $gray19);
$on-inverse-background: var(--on-inverse-background, $gray01);

$surface: var(--surface, $gray05);
$surface-hover: var(--surface-hover, hover($gray05));
$surface-active: var(--surface-active, active($gray05));
$on-surface: var(--on-surface, $gray19);
$on-surface-dim: var(--on-surface-dim, $gray10);

$primary: var(--primary, $blue13);
$primary-hover: var(--primary-hover, hover($blue13));
$primary-active: var(--primary-active, active($blue13));
$on-primary: var(--on-primary, $gray19);

$danger: var(--danger, $red09);
$danger-hover: var(--danger-hover, hover($red09));
$danger-active: var(--danger-active, active($red09));
$on-danger: var(--on-danger, $gray19);

$warning: var(--warning, $orange);
$on-warning: var(--on-warning, $gray01);

$success: var(--success, $green07);
$on-success: var(--on-success, $gray19);
