@import '../src/assets/styles/main';

html,
body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $fw-regular;
    height: 100%;
}

body {
    padding: 0 !important;
}

main,
section {
    padding: 1em;
    height: auto;
}

#storybook-root {
    height: 100%;

    storybook-root {
        display: flex;
        flex-direction: column;
        height: 100%;

        main {
            background-color: $background;
            color: $on-background;
            flex-grow: 1;

            section {
                background-color: $surface;
                color: $on-surface;
                padding: 1em;
            }
        }
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    margin: 0;
}
