/* You can add global styles to this file, and also import other style files */
@use '@dnd-mapp/shared-components/styles/theme-variables' as *;
@import '@dnd-mapp/shared-components/styles/main';

.dma-nav-menu-content {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    background-color: $surface;
    padding: 0 0.4em 0.2em;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    box-shadow: $shadow;
}

.dma-notification-overlay {
    bottom: 4rem;
    left: 2rem;
}
