$black: #1d1d21;

$black100: #ffffff;
$black95: #f1f1f3;
$black90: #e4e4e7;
$black85: #d6d6db;
$black80: #c9c9cf;
$black75: #bbbbc3;
$black70: #aeaeb7;
$black65: #a0a0ab;
$black60: #93939f;
$black55: #858593;
$black50: #787887;
$black45: #6c6c7a;
$black40: #60606c;
$black35: #54545f;
$black30: #484851;
$black25: #3c3c44;
$black20: #303036;
$black15: #242429;
$black12: #1d1d21; // Black
$black10: #18181b;
$black5: #0c0c0e;
$black0: #000000;
