$black: #1d1d21;

$black100: #ffffff;
$black95: #f1f1f3;
$black90: #e4e4e7;
$black85: #d6d6db;
$black80: #c9c9cf;
$black75: #bbbbc3;
$black70: #aeaeb7;
$black65: #a0a0ab;
$black60: #93939f;
$black55: #858593;
$black50: #787887;
$black45: #6c6c7a;
$black40: #60606c;
$black35: #54545f;
$black30: #484851;
$black25: #3c3c44;
$black20: #303036;
$black15: #242429;
$black12: #1d1d21; // Black
$black10: #18181b;
$black5: #0c0c0e;
$black0: #000000;

$black-colors: (
    'black100': $black100,
    'black95': $black95,
    'black90': $black90,
    'black85': $black85,
    'black80': $black80,
    'black75': $black75,
    'black70': $black70,
    'black65': $black65,
    'black60': $black60,
    'black55': $black55,
    'black50': $black50,
    'black45': $black45,
    'black40': $black40,
    'black35': $black35,
    'black30': $black30,
    'black25': $black25,
    'black20': $black20,
    'black15': $black15,
    'black12': $black12,
    'black10': $black10,
    'black5': $black5,
    'black0': $black0,
);
