$blue: #3c44aa;

$blue100: #ffffff;
$blue95: #ecedf8;
$blue90: #d9dbf2;
$blue85: #c6c9eb;
$blue80: #b4b7e4;
$blue75: #a1a5de;
$blue70: #8e93d7;
$blue65: #7b81d1;
$blue60: #686fca;
$blue55: #555dc3;
$blue50: #424abd;
$blue45: #3c44aa; // Blue
$blue40: #353c97;
$blue35: #2e3484;
$blue30: #282d71;
$blue25: #21255e;
$blue20: #1b1e4b;
$blue15: #141639;
$blue10: #0d0f26;
$blue5: #070713;
$blue0: #000000;
