$brown: #835432;

$brown100: #ffffff;
$brown95: #f8f1ed;
$brown90: #f1e4da;
$brown85: #ead6c8;
$brown80: #e3c8b5;
$brown75: #dcbaa3;
$brown70: #d5ad90;
$brown65: #ce9f7e;
$brown60: #c7916b;
$brown55: #c08459;
$brown50: #b97646;
$brown45: #a66a3f;
$brown40: #945e38;
$brown35: #835432; // Brown
$brown30: #6f472a;
$brown25: #5c3b23;
$brown20: #4a2f1c;
$brown15: #372315;
$brown10: #25180e;
$brown5: #120c07;
$brown0: #000000;
