$gray: #474f52;

$gray100: #ffffff;
$gray95: #f1f3f3;
$gray90: #e4e6e7;
$gray85: #d6dadb;
$gray80: #c8ced0;
$gray75: #bbc1c4;
$gray70: #adb5b8;
$gray65: #a0a9ac;
$gray60: #929ca0;
$gray55: #849094;
$gray50: #778488;
$gray45: #6b767b;
$gray40: #5f696d;
$gray35: #535c5f;
$gray30: #474f52; // Gray
$gray25: #3b4244;
$gray20: #2f3537;
$gray15: #242729;
$gray10: #181a1b;
$gray5: #0c0d0e;
$gray0: #000000;
