$green: #5e7c16;

$green100: #ffffff;
$green95: #f6fbe9;
$green90: #edf7d4;
$green85: #e3f4be;
$green80: #daf0a8;
$green75: #d1ec93;
$green70: #c8e87d;
$green65: #bfe467;
$green60: #b6e052;
$green55: #acdd3c;
$green50: #a3d926;
$green45: #93c322;
$green40: #83ad1f;
$green35: #72981b;
$green30: #628217;
$green29: #5e7c16; // Green
$green25: #526c13;
$green20: #41570f;
$green15: #31410b;
$green10: #212b08;
$green5: #101604;
$green0: #000000;
