$light-gray: #9d9d97;

$light-gray100: #ffffff;
$light-gray95: #f3f3f2;
$light-gray90: #e6e6e5;
$light-gray85: #dadad8;
$light-gray80: #cececa;
$light-gray75: #c1c1bd;
$light-gray70: #b5b5b0;
$light-gray65: #a8a8a3;
$light-gray60: #9d9d97; // Light gray
$light-gray55: #909089;
$light-gray50: #83837c;
$light-gray45: #76766f;
$light-gray40: #696963;
$light-gray35: #5c5c57;
$light-gray30: #4f4f4a;
$light-gray25: #42423e;
$light-gray20: #353531;
$light-gray15: #272725;
$light-gray10: #1a1a19;
$light-gray5: #0d0d0c;
$light-gray0: #000000;
