$light-blue: #3ab3da;

$light-blue100: #ffffff;
$light-blue95: #eaf7fb;
$light-blue90: #d4eef7;
$light-blue85: #bfe6f3;
$light-blue80: #a9ddef;
$light-blue75: #94d5eb;
$light-blue70: #7ecde7;
$light-blue65: #69c4e2;
$light-blue60: #54bcde;
$light-blue55: #3eb3da;
$light-blue54: #3ab3da; // Light blue
$light-blue50: #29abd6;
$light-blue45: #259ac1;
$light-blue40: #2189ab;
$light-blue35: #1d7896;
$light-blue30: #186781;
$light-blue25: #14556b;
$light-blue20: #104456;
$light-blue15: #0c3340;
$light-blue10: #08222b;
$light-blue5: #041115;
$light-blue0: #000000;

$light-blue-colors: (
    'light-blue100': $light-blue100,
    'light-blue95': $light-blue95,
    'light-blue90': $light-blue90,
    'light-blue85': $light-blue85,
    'light-blue80': $light-blue80,
    'light-blue75': $light-blue75,
    'light-blue70': $light-blue70,
    'light-blue65': $light-blue65,
    'light-blue60': $light-blue60,
    'light-blue55': $light-blue55,
    'light-blue54': $light-blue54,
    'light-blue50': $light-blue50,
    'light-blue45': $light-blue45,
    'light-blue40': $light-blue40,
    'light-blue35': $light-blue35,
    'light-blue30': $light-blue30,
    'light-blue25': $light-blue25,
    'light-blue20': $light-blue20,
    'light-blue15': $light-blue15,
    'light-blue10': $light-blue10,
    'light-blue5': $light-blue5,
    'light-blue0': $light-blue0,
);
