$lime: #80c71f;

$lime100: #ffffff;
$lime95: #f4fce9;
$lime90: #e9f8d3;
$lime85: #ddf5bd;
$lime80: #d2f1a7;
$lime75: #c7ee91;
$lime70: #bcea7b;
$lime65: #b1e765;
$lime60: #a5e34f;
$lime55: #9ae038;
$lime50: #8fdd22;
$lime45: #80c71f; // Lime
$lime40: #72b01c;
$lime35: #649a18;
$lime30: #568415;
$lime25: #486e11;
$lime20: #39580e;
$lime15: #2b420a;
$lime10: #1d2c07;
$lime5: #0e1603;
$lime0: #000000;
