$magenta: #c74ebd;

$magenta100: #ffffff;
$magenta95: #f9ecf8;
$magenta90: #f3d8f1;
$magenta85: #edc5e9;
$magenta80: #e7b1e2;
$magenta75: #e09edb;
$magenta70: #da8bd4;
$magenta65: #d477cc;
$magenta60: #ce64c5;
$magenta55: #c851be;
$magenta54: #c74ebd;
$magenta50: #c23db7;
$magenta45: #ae37a4;
$magenta40: #9b3192;
$magenta35: #882b80;
$magenta30: #74256e;
$magenta25: #611f5b;
$magenta20: #4e1849;
$magenta15: #3a1237;
$magenta10: #270c25;
$magenta5: #130612;
$magenta0: #000000;
