$orange: #f9801d;

$orange100: #ffffff;
$orange95: #fef1e6;
$orange90: #fee3cd;
$orange85: #fdd5b4;
$orange80: #fcc79c;
$orange75: #fcb983;
$orange70: #fbab6a;
$orange65: #fb9d51;
$orange60: #fa8f38;
$orange55: #f9801d; // Orange
$orange50: #f97306;
$orange45: #e06806;
$orange40: #c75c05;
$orange35: #ae5104;
$orange30: #954504;
$orange25: #7c3a03;
$orange20: #632e03;
$orange15: #4b2302;
$orange10: #321701;
$orange5: #190c01;
$orange0: #000000;
