$orange: #f9801d;

$orange100: #ffffff;
$orange95: #fef1e6;
$orange90: #fee3cd;
$orange85: #fdd5b4;
$orange80: #fcc79c;
$orange75: #fcb983;
$orange70: #fbab6a;
$orange65: #fb9d51;
$orange60: #fa8f38;
$orange55: #f9801d; // Orange
$orange50: #f97306;
$orange45: #e06806;
$orange40: #c75c05;
$orange35: #ae5104;
$orange30: #954504;
$orange25: #7c3a03;
$orange20: #632e03;
$orange15: #4b2302;
$orange10: #321701;
$orange5: #190c01;
$orange0: #000000;

$orange-colors: (
    'orange100': $orange100,
    'orange95': $orange95,
    'orange90': $orange90,
    'orange85': $orange85,
    'orange80': $orange80,
    'orange75': $orange75,
    'orange70': $orange70,
    'orange65': $orange65,
    'orange60': $orange60,
    'orange55': $orange55,
    'orange50': $orange50,
    'orange45': $orange45,
    'orange40': $orange40,
    'orange35': $orange35,
    'orange30': $orange30,
    'orange25': $orange25,
    'orange20': $orange20,
    'orange15': $orange15,
    'orange10': $orange10,
    'orange5': $orange5,
    'orange0': $orange0,
);
