$pink: #f38baa;

$pink100: #ffffff;
$pink95: #fde8ee;
$pink90: #fad1dd;
$pink85: #f8bacc;
$pink80: #f5a3bb;
$pink75: #f38baa; // Pink
$pink70: #f0759a;
$pink65: #ee5d89;
$pink60: #ec4678;
$pink55: #e92f67;
$pink50: #e71856;
$pink45: #d0164e;
$pink40: #b91345;
$pink35: #a2113c;
$pink30: #8a0f34;
$pink25: #730c2b;
$pink20: #5c0a22;
$pink15: #45071a;
$pink10: #2e0511;
$pink5: #170209;
$pink0: #000000;
