$red: #b02e26;

$red100: #ffffff;
$red95: #faebea;
$red90: #f6d7d5;
$red85: #f1c3c0;
$red80: #edafab;
$red75: #e89b96;
$red70: #e38682;
$red65: #df726d;
$red60: #da5e58;
$red55: #d64a43;
$red50: #d1362e;
$red45: #bc3129;
$red42: #b02e26; // Red
$red40: #a72b25;
$red35: #922620;
$red30: #7d201c;
$red25: #691b17;
$red20: #541612;
$red15: #3f100e;
$red10: #2a0b09;
$red5: #150505;
$red0: #000000;
