$red: #b02e26;

$red100: #ffffff;
$red95: #faebea;
$red90: #f6d7d5;
$red85: #f1c3c0;
$red80: #edafab;
$red75: #e89b96;
$red70: #e38682;
$red65: #df726d;
$red60: #da5e58;
$red55: #d64a43;
$red50: #d1362e;
$red45: #bc3129;
$red42: #b02e26; // Red
$red40: #a72b25;
$red35: #922620;
$red30: #7d201c;
$red25: #691b17;
$red20: #541612;
$red15: #3f100e;
$red10: #2a0b09;
$red5: #150505;
$red0: #000000;

$red-colors: (
    'red': $red,
    'red100': $red100,
    'red95': $red95,
    'red90': $red90,
    'red85': $red85,
    'red80': $red80,
    'red75': $red75,
    'red70': $red70,
    'red65': $red65,
    'red60': $red60,
    'red55': $red55,
    'red50': $red50,
    'red45': $red45,
    'red42': $red42,
    'red40': $red40,
    'red35': $red35,
    'red30': $red30,
    'red25': $red25,
    'red20': $red20,
    'red15': $red15,
    'red10': $red10,
    'red5': $red5,
    'red0': $red0,
);
