$yellow: #fed83d;

$yellow100: #ffffff;
$yellow95: #fffae6;
$yellow90: #fff5cc;
$yellow85: #ffefb3;
$yellow80: #feea9a;
$yellow75: #fee580;
$yellow70: #fee067;
$yellow65: #fedb4d;
$yellow62: #fed83d; // Yellow
$yellow60: #fed634;
$yellow55: #fed01b;
$yellow50: #fecb01;
$yellow45: #e4b701;
$yellow40: #cba301;
$yellow35: #b28e01;
$yellow30: #987a01;
$yellow25: #7f6601;
$yellow20: #655101;
$yellow15: #4c3d00;
$yellow10: #332900;
$yellow5: #191400;
$yellow0: #000000;
