<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">DnD-Mapp</a>

            <button
                type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-collapsable-content"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar-collapsable-content" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Characters
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a routerLink="/characters/overview" routerLinkActive="active" class="dropdown-item">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a routerLink="/characters/builder" routerLinkActive="active" class="dropdown-item">
                                    Builder
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Compendium
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a routerLink="/compendium/rules" routerLinkActive="active" class="dropdown-item">
                                    Game rules
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compendium/spells" routerLinkActive="active" class="dropdown-item">
                                    Spells
                                </a>
                            </li>
                            <li>
                                <a routerLink="/compendium/creatures" routerLinkActive="active" class="dropdown-item">
                                    Creatures
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr class="d-lg-none" />
                <ul class="navbar-nav mb-2 mb-lg-0 dropstart">
                    <li class="nav-item dropdown" *ngIf="authenticatedUser$ | async as user; else unauthenticatedLinks">
                        <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown">
                            <fa-icon icon="circle-user" size="xl"></fa-icon>
                            <span class="navbar-text ms-2">{{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a routerLink="/me" routerLinkActive="active" class="dropdown-item">My Profile</a>
                            </li>
                            <li>
                                <a routerLink="/settings" routerLinkActive="active" class="dropdown-item">Settings</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <button class="dropdown-item text-danger" (click)="onSignOut()">Sign Out</button>
                            </li>
                        </ul>
                    </li>
                    <ng-template #unauthenticatedLinks>
                        <li class="nav-item">
                            <a routerLink="/authentication/sign-up" routerLinkActive="active" class="nav-link">
                                Sign Up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/authentication/login" class="nav-link text-success fw-bold">Log In</a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</header>
