@use '../../../../../public/styles/theme-variables' as *;

:host {
    font-size: inherit;

    background-color: $surface;
    color: $on-surface;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    border: 1px solid $surface;

    &[dma-button='primary'] {
        background-color: $primary;
        border-color: $primary;
        color: $on-primary;
    }

    &[dma-button='danger'] {
        background-color: $danger;
        border-color: $danger;
        color: $on-danger;
    }

    &:hover:not(:disabled) {
        cursor: pointer;
        background-color: $surface-hover;
        border-color: $surface-hover;

        &[dma-button='primary'] {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }

        &[dma-button='danger'] {
            background-color: $danger-hover;
            border-color: $danger-hover;
        }
    }

    &:active:not(:disabled) {
        cursor: pointer;
        background-color: $surface-active;
        border-color: $surface-active;

        &[dma-button='primary'] {
            background-color: $primary-active;
            border-color: $primary-active;
        }

        &[dma-button='danger'] {
            background-color: $danger-active;
            border-color: $danger-active;
        }
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }

    .button-content {
        display: flex;
        gap: 0.6rem;
    }
}
