@use '../../../../public/styles/theme-variables' as *;

:host {
    header {
        display: flex;
        justify-content: space-between;
    }

    section {
        dma-table {
            margin-top: 1rem;

            dma-table-body {
                dma-table-row {
                    dma-user-actions {
                        visibility: hidden;
                    }

                    &:hover {
                        background-color: $surface-hover;

                        dma-user-actions {
                            visibility: unset;
                        }
                    }
                }
            }
        }

        dma-icon[dma-spinner-icon] {
            width: 2rem;
            height: 2rem;
        }
    }
}
