<article>
    <header>
        <h1>{{ 'PAGE_TITLE_USERS_OVERVIEW' | translate }}</h1>
        <button dma-button="primary">
            <dma-icon dma-plus-icon />
            {{ 'BTN_LABEL_ADD_USER' | translate }}
        </button>
    </header>
    <section>
        <dma-table>
            <dma-table-header>
                <dma-table-row>
                    <dma-table-column class="align-end" [width]="idColumnWidth">#</dma-table-column>
                    <dma-table-column class="align-center" [width]="statusColumnWidth">{{
                        'USERS_TABLE_COLUMN_HEADER_STATUS' | translate
                    }}</dma-table-column>
                    <dma-table-column>{{ 'USERS_TABLE_COLUMN_HEADER_USERNAME' | translate }}</dma-table-column>
                    <dma-table-column>{{ 'USERS_TABLE_COLUMN_HEADER_EMAIL' | translate }}</dma-table-column>
                    <dma-table-column class="align-end">{{
                        'USERS_TABLE_COLUMN_HEADER_ACTIONS' | translate
                    }}</dma-table-column>
                </dma-table-row>
            </dma-table-header>
            <dma-table-body>
                @let users = usersService.users();

                @if (busy() === true) {
                    <dma-table-row>
                        <dma-table-column><dma-icon dma-spinner-icon /></dma-table-column>
                    </dma-table-row>
                } @else if (users.length === 0) {
                    <dma-table-row class="empty">
                        <dma-table-column>{{ 'USERS_TABLE_NO_RESULTS' | translate }}</dma-table-column>
                    </dma-table-row>
                }
                @for (user of users; track user.id; let idx = $index) {
                    <dma-table-row [class.deleted]="user.status === 'Deleted'">
                        <dma-table-column class="align-end" [width]="idColumnWidth">{{ idx + 1 }}</dma-table-column>
                        <dma-table-column class="align-center" [width]="statusColumnWidth">
                            <dma-account-status-dot [status]="user.status" />
                        </dma-table-column>
                        <dma-table-column>{{ user.username }}</dma-table-column>
                        <dma-table-column>{{ user.email }}</dma-table-column>
                        <dma-table-column class="align-end">
                            <dma-user-actions
                                [disabled]="user.status === 'Deleted'"
                                (selectUser)="onUserSelected(user)"
                            />
                        </dma-table-column>
                    </dma-table-row>
                }
            </dma-table-body>
        </dma-table>
    </section>
</article>
