@use 'sass:color';
@use './colors' as *;
@import './font';

$font-family: var(--font-family, #{'IBM Plex Sans', sans-serif});
$font-size: var(--font-size, 16px);
$fw-regular: var(--fw-regular, 400);
$fw-bold: var(--fw-bold, 500);
$fw-bolder: var(--fw-bolder, 600);

// Will default to the dark theme
$background: var(--background, $light-gray15);
$on-background: var(--on-background, $light-gray90);

$surface: var(--surface, $light-gray20);
$on-surface: var(--on-surface, $light-gray90);

$primary: var(--primary, $red65);
$on-primary: var(--on-primary, $light-gray5);

$secondary: var(--secondary, $yellow70);
$on-secondary: var(--on-secondary, $light-gray5);

$success: var(--success, $lime60);
$on-success: var(--on-success, $light-gray5);

$danger: var(--danger, $red50);
$on-danger: var(--on-danger, $light-gray95);

$error: var(--error, $red55);
$on-error: var(--on-error, $light-gray5);

$shadow-color: var(--shadow-color, color.change($light-gray5, $alpha: 0.33));
$shadow: var(--shadow, #{-1px 4px 4px 1px $shadow-color});
$border: $surface;
$placeholder: var(--placeholder, $light-gray65);
$opacity-disabled: var(--opacity-disabled, 35%);
