$cyan: #169c9c;

$cyan100: #ffffff;
$cyan95: #e9fcfc;
$cyan90: #d2f9f9;
$cyan85: #bcf5f5;
$cyan80: #a6f2f2;
$cyan75: #8fefef;
$cyan70: #79ecec;
$cyan65: #63e9e9;
$cyan60: #4de6e6;
$cyan55: #36e2e2;
$cyan50: #20dfdf;
$cyan45: #1dc9c9;
$cyan40: #19b3b3;
$cyan35: #169c9c; // Cyan
$cyan30: #138686;
$cyan25: #107070;
$cyan20: #0d5959;
$cyan15: #0a4343;
$cyan10: #062d2d;
$cyan5: #031616;
$cyan0: #000000;

$cyan-colors: (
    'cyan100': $cyan100,
    'cyan95': $cyan95,
    'cyan90': $cyan90,
    'cyan85': $cyan85,
    'cyan80': $cyan80,
    'cyan75': $cyan75,
    'cyan70': $cyan70,
    'cyan65': $cyan65,
    'cyan60': $cyan60,
    'cyan55': $cyan55,
    'cyan50': $cyan50,
    'cyan45': $cyan45,
    'cyan40': $cyan40,
    'cyan35': $cyan35,
    'cyan30': $cyan30,
    'cyan25': $cyan25,
    'cyan20': $cyan20,
    'cyan15': $cyan15,
    'cyan10': $cyan10,
    'cyan5': $cyan5,
    'cyan0': $cyan0,
);
