$pink: #f38baa;

$pink100: #ffffff;
$pink95: #fde8ee;
$pink90: #fad1dd;
$pink85: #f8bacc;
$pink80: #f5a3bb;
$pink75: #f38baa; // Pink
$pink70: #f0759a;
$pink65: #ee5d89;
$pink60: #ec4678;
$pink55: #e92f67;
$pink50: #e71856;
$pink45: #d0164e;
$pink40: #b91345;
$pink35: #a2113c;
$pink30: #8a0f34;
$pink25: #730c2b;
$pink20: #5c0a22;
$pink15: #45071a;
$pink10: #2e0511;
$pink5: #170209;
$pink0: #000000;

$pink-colors: (
    'pink100': $pink100,
    'pink95': $pink95,
    'pink90': $pink90,
    'pink85': $pink85,
    'pink80': $pink80,
    'pink75': $pink75,
    'pink70': $pink70,
    'pink65': $pink65,
    'pink60': $pink60,
    'pink55': $pink55,
    'pink50': $pink50,
    'pink45': $pink45,
    'pink40': $pink40,
    'pink35': $pink35,
    'pink30': $pink30,
    'pink25': $pink25,
    'pink20': $pink20,
    'pink15': $pink15,
    'pink10': $pink10,
    'pink5': $pink5,
    'pink0': $pink0,
);
