$purple: #8932b8;

$purple100: #ffffff;
$purple95: #f4ebfa;
$purple90: #ead7f4;
$purple85: #dfc3ef;
$purple80: #d5afe9;
$purple75: #ca9be4;
$purple70: #c087de;
$purple65: #b573d9;
$purple60: #aa5fd3;
$purple55: #a04bce;
$purple50: #9537c8;
$purple46: #8932b8; // Purple
$purple45: #8631b4;
$purple40: #772ca0;
$purple35: #69268c;
$purple30: #5a2178;
$purple25: #4b1b64;
$purple20: #3c1650;
$purple15: #2d103c;
$purple10: #1e0b28;
$purple5: #0f0514;
$purple0: #000000;

$purple-colors: (
    'purple100': $purple100,
    'purple95': $purple95,
    'purple90': $purple90,
    'purple85': $purple85,
    'purple80': $purple80,
    'purple75': $purple75,
    'purple70': $purple70,
    'purple65': $purple65,
    'purple60': $purple60,
    'purple55': $purple55,
    'purple50': $purple50,
    'purple46': $purple46,
    'purple45': $purple45,
    'purple40': $purple40,
    'purple35': $purple35,
    'purple30': $purple30,
    'purple25': $purple25,
    'purple20': $purple20,
    'purple15': $purple15,
    'purple10': $purple10,
    'purple5': $purple5,
    'purple0': $purple0,
);
