$white: #f9fffe;

$white100: #ffffff;
$white99: #f9fffe; // White
$white95: #e6fffb;
$white90: #ccfff6;
$white85: #b3fff2;
$white80: #99ffee;
$white75: #80ffea;
$white70: #66ffe6;
$white65: #4dffe1;
$white60: #33ffdd;
$white55: #1affd9;
$white50: #00ffd5;
$white45: #00e6bf;
$white40: #00ccaa;
$white35: #00b395;
$white30: #009980;
$white25: #00806a;
$white20: #006655;
$white15: #004d40;
$white10: #00332b;
$white5: #001a15;
$white0: #000000;

$white-colors: (
    'white100': $white100,
    'white99': $white99,
    'white95': $white95,
    'white90': $white90,
    'white85': $white85,
    'white80': $white80,
    'white75': $white75,
    'white70': $white70,
    'white65': $white65,
    'white60': $white60,
    'white55': $white55,
    'white50': $white50,
    'white45': $white45,
    'white40': $white40,
    'white35': $white35,
    'white30': $white30,
    'white25': $white25,
    'white20': $white20,
    'white15': $white15,
    'white10': $white10,
    'white5': $white5,
    'white0': $white0,
);
