@use '../../../../../public/styles/theme-variables' as *;

.dma-dialog-pane {
    background-color: $surface;
    color: $on-surface;
    border-radius: $border-radius;

    .dma-dialog-container {
        height: 100%;
        width: 100%;

        section {
            display: flex;
            flex-direction: column;
            height: 100%;

            .dma-dialog-title {
                font-size: 124%;
            }
        }
    }
}
