<article>
    <form [formGroup]="form">
        <h2>Sign Up</h2>
        <dma-input inputType="text" label="Username" forLabel="username-input" formControlName="username">
            <dma-icon icon="user" class="leading-icon" />
        </dma-input>
        <dma-input inputType="email" label="Email address" forLabel="email-input" formControlName="email">
            <dma-icon icon="envelope" class="leading-icon" />
        </dma-input>
        <dma-input
            inputType="email"
            label="Confirm Email address"
            forLabel="confirm-email-input"
            formControlName="emailConfirm"
        >
            <dma-icon icon="envelope" class="leading-icon" />
        </dma-input>
        <dma-input inputType="password" label="Password" forLabel="password-input" formControlName="password">
            <dma-icon icon="lock" class="leading-icon" />
        </dma-input>
        <dma-input
            inputType="password"
            label="Confirm Password"
            forLabel="confirm-password-input"
            formControlName="passwordConfirm"
        >
            <dma-icon icon="lock" class="leading-icon" />
        </dma-input>
        <button dma-button="filled" [disabled]="isFormInvalid || (loading$ | async)" (click)="onSubmit()">
            @if (loading$ | async) {
                <dma-icon icon="spinner" />
            }
            Login
        </button>
        <p>Already have an account? Log in <a routerLink="/login">here</a></p>
    </form>
</article>
